<div ng-controller = 'mainAppointmentController as mac'>
  <h1>New Appointment</h1>
  {{mac.createFlash}}
  <form>
    Date: <input type="date" ng-model='mac.newApp.date'>
    time: <select ng-model='mac.newApp.time'>
      <option value="8:00 AM">8:00 AM</option>
      <option value="9:00 AM">9:00 AM</option>
      <option value="10:00 AM">10:00 AM</option>
      <option value="11:00 AM">11:00 AM</option>
      <option value="12:00 PM">12:00 PM</option>
      <option value="1:00 PM">1:00 PM</option>
      <option value="2:00 PM">2:00 PM</option>
      <option value="3:00 PM">3:00 PM</option>
      <option value="4:00 PM">4:00 PM</option>
      <option value="5:00 PM">5:00 PM</option>
    </select>
    Complain: <textarea ng-model='mac.newApp.complain' rows="8" cols="40"></textarea>
    <input type="Submit" ng-click='mac.create()' value="Add Appointment">
  </form>
  <a href="#/main">Cancel</a>
</div>
